<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%include talwind.html%}
  <!-- <title>{{ page.title }}</title> -->
</head>
<body>


  <div class="mask-clip-padding"></div>
    {% include header.html %}
    <h2 class="text-xl font-semibold mb-2">POSTS:</h2>
    <ul class="space-y-2">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}" class="text-blue-600 hover:underline">{{ post.title }}</a> - 
          <small class="text-gray-600">{{ post.date | date: "%d/%m/%Y" }}</small> 
          <span class="text-sm text-gray-500">({{post.author}})</span>
        </li>
      {% endfor %}
    </ul>
  {% include footer.html %}

</body>

</html>
