<footer class="bg-white rounded-lg shadow-sm dark:bg-black m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/assets/img/logo.svg" class="h-20" alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RandomlyBucket</span>
            </a>
            <ul class="flex space-x-6">
                <!-- Instagram -->
                <li>
                    <a href="https://www.instagram.com/imrooteodoro" target="_blank" class="text-white hover:text-gray-500 dark:hover:text-gray-300 no-underline">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </li>
                <!-- GitHub -->
                <li>
                    <a href="https://github.com/imrooteodoro" target="_blank" class="text-white hover:text-gray-500 dark:hover:text-gray-300 no-underline">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
                <!-- LinkedIn -->
                <li>
                    <a href="https://www.linkedin.com/in/adelson-teodoro-dev/" target="_blank" class="text-white hover:text-gray-500 dark:hover:text-gray-300 no-underline">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="/" class="hover:underline">RandomlyBucket™</a>. All Rights Reserved.</span>
    </div>
</footer>
